<!--Mitchell Warr-->
<!DOCTYPE html>
<html lang="en" ng-app="bmap" ng-controller="bmapController">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>B Map</title>
        <link rel="stylesheet" href="main.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>

    <body>
        <h1>Bike Map</h1>
        <div class="MainCanvas" id="main">
            <div class = "MainCanvasFrame" id="parentCanvas">
                <div id="googleMap" style="width:100%;height:500px;"></div>
            </div>
            <div class="InputBox" id="inputBox">
                <div class="col-6">
                    <div class="row">
                        <input type="checkbox" ng-model="showHeatMap"/> Show Heat Map
                    </div>
                    <div class="row">
                        <div class="rowLabel" ng-show="loc.mouse.lat != null">{{formatPoint(loc.mouse.lat, loc.mouse.lng)}}</div>
                    </div>
                    <div class="row">
                        <button class="rowButton" ng-click="selectStart()">Set Start</button>
                        <div class="rowLabel" ng-show="loc.start.lat != null">{{formatPoint(loc.start.lat, loc.start.lng)}}</div>
                    </div>
                    <div class="row">
                        <button class="rowButton" ng-click="selectEnd()">Set End</button>
                        <div class="rowLabel" ng-show="loc.end.lat != null">{{formatPoint(loc.end.lat, loc.end.lng)}}</div>
                    </div>
                    <div class="row">
                        <button class="rowButton" ng-click="getRoute()">Create Route</button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <input type="checkbox" ng-model="use_wind"/> Use Wind
                    </div>
                    <div class="row">
                        <input type="checkbox" ng-model="use_ele"/> Use Elevation
                    </div>
                    <div class="row">
                        <span class="padded">Wind Degrees</span>
                        <input type="text" ng-model="wind_deg"/>
                    </div>
                    <div class="row">
                        <button class="rowButton" ng-click="setSettings()">Set</button>
                    </div>
                    <div class="row">
                        <span class="padded">Preset 1</span>
                        <button class="rowButton" ng-click="preset(1, true)">With</button>
                        <button class="rowButton" ng-click="preset(1, false)">Without</button>
                    </div>
                    <div class="row">
                        <span class="padded">Preset 2</span>
                        <button class="rowButton" ng-click="preset(2, true)">With</button>
                        <button class="rowButton" ng-click="preset(2, false)">Without</button>
                    </div>
                    <div class="row">
                        <span class="padded">Preset 3</span>
                        <button class="rowButton" ng-click="preset(3, true)">With</button>
                        <button class="rowButton" ng-click="preset(3, false)">Without</button>
                    </div>
                    <div class="row">
                        <span class="padded">Preset 4</span>
                        <button class="rowButton" ng-click="preset(4, true)">With</button>
                        <button class="rowButton" ng-click="preset(4, false)">Without</button>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="vec.js"></script>
        <script type="text/javascript" src="index.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOLXdMW-62eg4f2-c0wZukO1lRrJItbqM&libraries=visualization"></script>
    </body>
</html>